<div class="container container-table">
	<div class="row vertical-center-row">
		<div class="col-md-6 col-md-offset-3">
			<div class="tipple_header">
				<div class="hidden">
					<h1>TIPPLE</h1>
					<p class="lead">For the Whiskey enthusiast.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('div.hidden').fadeIn(1000).removeClass('hidden');
	});
</script>