<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">
				TIPPLE
			</a>
		</div>
		<% if current_user && current_user.admin? %>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<%= link_to "#", data: { toggle: "dropdown" } do %>
							Categories
							<span class="caret"></span>
						<% end %>
						<ul class="dropdown-menu">
							<% @categories.each do |category| %>
								<li><%= link_to category.name, category %></li>
							<% end %>
						</ul>
					</li>
				</ul>
			</div>
		<% end %>
		<% if current_user && current_user.admin? %>
			<%= render 'cart' %>
		<% end %>
	</div>
</nav>